.dashboard {
    padding: 25px;
    .actions-bar {
        height: 30px;
        padding: 5px;
        margin-top: 30px;
        margin-bottom: 10px;
        text-align: right;
    }
    .registration-card-material {
        margin: 5px;
        // width: 300px;
    }

    .error-text {
        color: red;
        margin-top: 10px;
    }
}